.partners {
  margin-bottom: 43px;
}

.partners__list {
  margin-left: -50px;
  padding-top: 20px;
  
}

.partners__item {
  display: inline-block;
  margin-left: 110px;
  text-align: center;
  margin-right: 50px;
  margin-bottom: 40px;
  width: 130px;
  vertical-align: middle;
  
}

.partner__link {
  display: block;
 
}

.partner__img {
  filter: opacity(0.8) grayscale(1);
  transition: 0.5s;
}

.partner__img:hover {
  filter: none;
}