.feedback {
    width: 700px;
    margin: 0 auto;
    border-radius: 3px;
    padding-top: 55px;
    padding-bottom: 58px;
  }

.feedback__content {
    padding: 40px 70px;
    background-color: rgb(245, 245, 245);
  }

.title__form {
    margin-bottom: 8px;
    text-transform: initial;
    text-align: left;
    letter-spacing: 0;
    font-size: 49px;
}

.form {
    font-size: 14px;
    color: #221f1f;
  }

.form__row {
    margin-bottom: 16px;
  }
  
.form__col {
    display: inline-block;
    margin-right: 15px;
  }

.form__col:last-child {
    margin-right: 0;
  }

.form__label {
    display: block;
    padding-bottom: 7px;
  }

.form__input {
    width: 270px;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 12px 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
  }

.form__input:focus {
    border-color: #f89513;
    outline: none;
  }

.form__input--textarea {
    width: 560px;
    height: 90px;
    resize: none;
  }

.form__controls-title {
    margin-bottom: 3px;
  }

.form__radio {
    display: inline-block;
    position: relative;
    margin-right: 15px;
  }

.form__radio-elem {
    position: absolute;
    top: 0;
    left: -9999px;
  }

.form__radio-fake,
.form__radio-title {
    display: inline-block;
    vertical-align: middle;
  }

.form__radio-fake {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #c9c9c9;
    position: relative;
  }

.form__radio-fake::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #f89513;
  }

.form__radio-elem:checked + .form__radio-fake {
    border-color: #f89513;
  }

.form__radio-elem:checked + .form__radio-fake::after {
    width: 8px;
    height: 8px;
  }

.form__radio-elem:checked + .form__radio-fake + .form__radio-title {
    color: #f89513;
  }

.form__col-right {
    float: right;
  }

.form__submit {
    padding: 15px 17px;
    border-radius: 3px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background: #1c1f1d;
    color: #fff;
    letter-spacing: 1.6px;
    cursor: pointer;
    transition: .4s;
  }
  
.form__submit:hover {
    background: #f89513;
  }